<div class="main-container">
  <header class="header-2">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="home" size="24"></clr-icon>
        <span class="title">Datagrid Testing</span>
      </a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <clr-tabs clrLayout="vertical">
        <clr-tab>
          <button clrTabLink>Dashboard</button>
          <clr-tab-content *clrIfActive>
            <example-one></example-one>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Management</button>
          <clr-tab-content *clrIfActive>
            <example-two></example-two>
          </clr-tab-content>
        </clr-tab>

        <clr-tab>
          <button clrTabLink>Cloud</button>
          <clr-tab-content *clrIfActive>
            <example-three></example-three>
          </clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>
